@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #000000;
  --secondary-color: #828282;
  --secondary-text-color: #4d6a99;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primaryColor: var(--primary-color);
  --color-secondaryColor: var(--secondary-color);
  --color-secondaryTextColor: var(--secondary-text-color)
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

* {
   scrollbar-gutter: stable;
}
